/* -------------------- */
/* quarto.report typewriter template */
/* inspired by https://github.com/CourtBouillon/weasyprint-samples/tree/master/report */
/* -------------------- */

/* ---------- */
/* Layout */
/* ---------- */

@page {
  size: var(--pagesize-width) var(--pagesize-height);

  @top-left {
    background: var(--accent-color);
    color: var(--accent-font-color);
    content: counter(page);
    height: 1cm;
    text-align: center;
    width: 1cm;
  }
  @top-center {
    background: var(--accent-color);
    content: "";
    display: block;
    height: 0.07cm;
    width: 100%;
  }
  @top-right {
    content: string(heading);
    font-size: 9pt;
    height: 1cm;
    vertical-align: middle;
    width: 100%;
  }

  padding-top: 2%;
}

/* ---------- */
/* Main style */
/* ---------- */

/* Headers */
h1,
h2,
h3,
h4,
.subtitle,
.date,
.author {
  font-family: var(--header-font);
}

h1,
h2,
h3 {
  color: var(--accent-color);
  font-weight: bold;
}

h2 {
  font-size: 2em;
  string-set: heading content();
}
h3 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.4em;
  font-weight: bold;
}

/* Text & others */
html {
  color: var(--font-color);
  font-family: var(--main-font);
  font-size: var(--base-size);
  font-weight: normal;
  line-height: 1.5;
}

/* Blockquote style */
blockquote {
  background: var(--accent-color);
  margin: 0 -15%;
  padding: 2% 15% 2% 15%;
  width: 100%;
  color: var(--accent-font-color);
}

blockquote * {
  color: var(--accent-font-color) !important;
}

/* Code blocks */
pre {
  margin-bottom: -1em;
  background-color: #edededd1;
  padding: 1em;
  overflow: auto;
}

code {
  font-family: var(--mono-font) !important;
  padding: 0;
  overflow: visible;
  overflow-wrap: normal;
}

/* ---------- */
/* Title page */
/* ---------- */

/* first page margins */
@page:first{
  background: var(--main-img) no-repeat center;
  background-size: cover;
  margin: 0;
}

/* title element */
h1.title {
  width: 100%;
  font-size: 3.5em;
  padding-top: 7%;
  padding-left: 7%;
  padding-right: 7%;
}

/* cover page block */
#title-block-header {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  height: var(--pagesize-height);
}

/* ---------- */
/* block at the bottom of the cover page */
#title-block-subheader {
  background-image: var(--logo);
  background-repeat: no-repeat;
  background-size: 3cm;
  background-position: 85% 30%;
  background-color: var(--accent-color);

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  flex: 1;
  margin-top: 0;
  margin-left: -10%;
  margin-right: -10%;
  margin-bottom: 0;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 4%;
  padding-bottom: 15%;

  page-break-after: always;
}

#subtitle {
  grid-column: 1;
  grid-row: 1;
}

#date-author {
  grid-column: 2;
  grid-row: 1;
}

.subtitle,
.date,
.author {
  color: var(--accent-font-color);
  font-size: 1.2em;
}

/* ---------- */
/* Inverse page */
/* ---------- */
.inverse-page {
  page-break-after: always;
  page-break-after: always;
  page: inverse;

  color: var(--accent-font-color);
}

.inverse-page * {
  color: var(--accent-font-color) !important;
}

@page inverse {
  background: var(--accent-color);

  @top-left {
    background: var(--accent-font-color);
    color: var(--accent-color) !important;
  }
  @top-center {
    background: var(--accent-font-color);
    color: var(--accent-color) !important;
  }
  @top-right {
    color: var(--accent-font-color) !important;
  }
}

